 <form action="/favourites" method="post">
                        <input type="text" name="id" hidden value="<%= home._id %>">
                        <button type="submit" class="bg-red-500 px-2 py-1 rounded-md text-white ">Add to Favourite</button>
                    </form>