<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>

    <%- include('../partials/header') %>

    <div class="max-w-[400px] md:max-w-[600px] shadow-2xl h-[100px] flex items-center justify-center mx-auto my-8 rounded-lg">
        <h1 class=" text-3xl font-bold text-red-400">Error 404! Page not found</h1>
    </div>
    
</body>
</html>